<%= form_for(job) do |f| %>
  <form class="form-horizontal">
    <div class="form-group ">
      <label class="control-label"><%= f.label :poster %></label>
      <%= f.text_field :poster %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= f.label :category %></label>
      <%= f.text_field :category %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= f.label :location %></label>
      <%= f.text_field :location %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= f.label :status %></label>
      <%= f.text_field :status %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= f.label :description %></label>
      <%= f.text_area :description %>
    </div>
    <div class="form-group">
      <%= f.submit 'Add Job' %>
    </div>
  </form>
<% end %>
