<span class='indexheader'>
  <h3>Job postings</h3>
  <button><%= link_to 'Add Job', new_job_path %></button>
</span>

<table class="table table-bordered table-condensed table-striped">
  <thead>
    <th>Date</th>
    <th>Poster</th>
    <th>Category</th>
    <th>Location</th>
    <th>Status</th>
    <th>Action</th>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= job.poster %></td>
        <td><%= job.category %></td>
        <td><%= job.location %></td>
        <td><%= job.status %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
